@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow: hidden; /* БЛОКИРУЕМ ПРОКРУТКУ */
  overscroll-behavior: none; /* Блокируем "резинку" на маках */
}