@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  
  /* --- ГЛАВНЫЙ ФИКС --- */
  position: fixed; /* Прибиваем тело сайта гвоздями */
  overflow: hidden; /* Запрещаем вылезать за края */
  overscroll-behavior: none; /* Отключаем "резинку" на Mac/iOS */
  touch-action: none; /* Отключаем жесты зума пальцами на мобилках */
  /* -------------------- */
}

#root {
  width: 100%;
  height: 100%;
}